/* hey */

body {
    padding-top: 80px;
}

a, a:focus, a:active {
    outline: 0;
}

.view-vcl .panel-body {
    position: relative;
}

.raw-vcl, .html-vcl {
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 20px;
}

#new-vcl-input {
    font-family: monospace;
}

#vcl-file {
    background: #2d2d2d;
    color: #d3d0c8;
}

#vcl-file .vcl-line-no {
    padding-right: 10px;
    color: #807e7a;
}

#vcl-file .vcl-comment {
    color: #747369;
}

#vcl-file .vcl-comment a {
    color: #747369;
    text-decoration: underline;
}

#vcl-file .vcl-comment a:hover {
    color: #5b5a51;
    text-decoration: none;
}

#vcl-file .vcl-line > .vcl-keyword {
    color: #cc99cc;
}

#vcl-file .vcl-line > .vcl-string {
    color: #99cc99;
}

#vcl-file .vcl-line > .vcl-constant {
    color: #f99157;
}

#vcl-file .vcl-line > .vcl-variable {
    color: #f2776d;
}

#vcl-file .vcl-line > .vcl-builtin {
    color: #66cccc;
}

.navbar > .container .navbar-brand {
	padding: 2px;
}

.navbar-brand img {
	height: 46px;
}

.site-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
    color: #767676;
    text-align: center;
    border-top: 1px solid #E5E5E5;
}

.site-footer p {
    margin-bottom: 0px;
}

.site-footer-links {
    padding-left: 0px;
    margin-top: 20px;
}

.site-footer-links li:first-child  {
    padding-left: 0px;
}

.site-footer-links li {
    display: inline;
    padding: 0px 2px;
}

table.varnish-logs {
  max-width: 100%;
  table-layout: fixed;
}

table.varnish-logs td {
  white-space: pre-wrap;
  word-break: break-all;
}
